# Set configuration here for all deployment scripts

# Copy this file and rename it without the .sample

PROJECT_ID={INSERT GOOGLE PROJECT ID}
PUBSUB_TOPIC=projects/$PROJECT_ID/topics/tweets
BQ_TABLE=$PROJECT_ID:twitter.tweets
BUCKET_NAME="twitter-dataflow"
TWITTER_ACCESS_TOKEN=""
TWITTER_ACCESS_SECRET=""
TWITTER_CONSUMER_KEY=""
TWITTER_CONSUMER_SECRET=""